.favourite {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 10px 20px;
}

.fav-img {
  width: 350px;
  height: 200px;
}

.favourite-bg-1 {
    background-image: url(../img/favourites/indonesia.png);
  }
  
  .favourite-bg-2 {
    background-image: url(../img/favourites/australia.png);
  }
  
  .favourite-bg-3 {
    background-image: url(../img/favourites/switzerland.png);
  }
  
  